<div class="container py-5">
  <div class="row">
      <div class="bg-white col-6 col-md-6 col-lg-6 p-3 shadow d-flex flex-column align-items-center">
        <h2>Your profile:</h2>
        <div>
          <%= simple_form_for current_user, url: profiles_path(current_user), method: :patch do |f| %>
            <%= f.simple_fields_for :profile_traits do |profile_trait| %>
              <%= profile_trait.input :user_answer,
                                      input_html: { min: 1, max: 10, class: 'category-selector' },
                                      label: profile_trait.object.trait.name,
                                      as: :radio_buttons, collection: (0..10),
                                      collection_wrapper_tag: 'div',
                                      collection_wrapper_class: 'd-flex',
                                      item_wrapper_class: 'category-item' %>
            <% end %>
            <%= f.submit "Update", class: "btn btn-primary"%>
          <% end %>
        </div>
      </div>
      <div class="col-6 roda-da-vida"></div>
  </div>
</div>
