// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


$blue: #6692E3;
$violet: #8305B4;
$lavender: #B773C5;
$almond: #EAE0D5;
$black: #362C28;
