.dashboard-wheel { grid-area: wheel; }
.dashboard-planner { grid-area: planner; }
.dashboard-schedule { grid-area: schedule; }
.dashboard-timer { grid-area: timer; }

.dashboard-container {
  display: grid;
  // grid-template-rows: 2fr 1fr;
  // grid-template-columns: 3fr 1fr;
  grid-template-areas: 'wheel wheel wheel wheel wheel timer'
                      'schedule planner planner planner planner planner';
  gap: 40px;
  padding: 40px;
}

.dashboard-card {
  background-color: #fff;
  box-shadow: 7px 10px 39px -20px rgba($color: #000000, $alpha: 0.5);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dashboard-title {
  color: $purple;
  display: flex;
  align-items: center;
  width: 100%;
}

.lg {
  display: flex;
  justify-content: space-between;
}

.sm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.icon {
  font-size: 28px;
  display: flex;
  gap: 10px;
  align-items: center;
  h6 {
    margin: 0;
    font-weight: bold;
    font-size: 28px;
  }
}

.badge {
  width: 100px;
  height: 25px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.badge-green {
  background-color: #EEFBE8;
  color: #71DD37;
}

.badge-blue {
  background-color: #E7F7FB;
  color: #02C3EC;
}
.badge-yellow {
  background-color: #FFF1D6;
  color: #FFAF22;
}

.dashboard-img {
  width: 200px;
  margin: 0 auto;
}

// .card-illustration {
//   margin: 30px auto 5px;
//   width: 900px;
//   .card-body {
//     color: $light-purple;
//     font-weight: bold;
//   }
// }

// .border-0 {
//   border: 0!important;
// }

// .card {
//   border: none;
//   border-radius: 10px;
//   height: 100%;
//   gap: 15px;

//   h6 {
//     color: $purple;
//   }

//   p, li {
//     color: rgb(131, 131, 131);
//   }
// }

// .card:hover {
//   transform: scale(1.02);
// }

// .icon {
//   width: 40px;
//   height: 40px;
//   color: $purple;
//   border-radius: 15px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   font-size: 32px
// }


// .heading {
//   font-size: 20px;
// }

// hr {
//   border: 1px solid #f3f3f3;
//   opacity: 1.0;
// }
