// HEADER
.masthead {
  padding: 3rem 0 7rem;
  position: relative;
  background: rgb(109,91,152);
  background: radial-gradient(circle, rgba(109,91,152,1) 0%, rgba(121,129,168,1) 51%, rgba(157,119,155,1) 100%);
  z-index: 0
}

.masthead svg.wave {
  position: absolute;
  bottom: -1px;
  left: 0
}

.masthead h1 {
  color: #fff;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.1;
  z-index: 1
}

.masthead h2 {
  color: rgba(255, 255, 255, .6);
  font-weight: 600;
  z-index: 1;
  font-size: 1.2rem
}

.masthead a {
  color: rgba(255, 255, 255, .8);
  text-decoration: underline;
  z-index: 1
}

.masthead p {
  color: $purple;
}

.masthead a:active {
  text-decoration: none
}

@media(min-width:992px) {
  .masthead h1 {
    font-size: 3rem
  }
  .masthead h2 {
    font-size: 1.5rem
  }
}

.masthead .masthead-cards {
  position: relative;
  z-index: 1;
}

.masthead .masthead-cards .shape {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, .3);
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 30% 70% 70% 30%/30% 30% 70% 70%
}

.masthead .masthead-cards .card {
  opacity: 1;
  font-size: .8rem;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: .05rem;
  color: #212529;
  transition: .15s all;
}

.masthead .masthead-cards .card:hover {
  margin-top: -.25rem;
  margin-bottom: .25rem
}

.masthead .masthead-cards .card:active {
  margin-top: inherit;
  margin-bottom: inherit
}

.masthead .masthead-cards .card.border-bottom {
  color: $purple;
  border-radius: 8px;
}

.masthead .masthead-cards .card.border-bottom:hover {
  color: $light-purple;
}

@media(min-width:992px) {
  .masthead-page h1 {
    font-size: 2.5rem
  }
}

.shadow-lg {
  box-shadow: 0 2rem 1.5rem -1.5rem rgba(33,37,41,.15),0 0 1.5rem .5rem rgba(33,37,41,.05)!important;
}

// Container Text of Introdution of Plan ON

.title-planon {
  color: $light-purple;
  text-align: center;
}

.text-home {
  color: rgb(131, 131, 131);
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Benefits

.container-benefits {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.container-benefits .card{
  position: relative;
  cursor: pointer;
}

.container-benefits .card .face{
  width: 300px;
  height: 200px;
  transition: 0.5s;
}

.container-benefits .card .face.face1{
  position: relative;
  background: $purple;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.container-benefits .card:hover .face.face1{
  background: $light-purple;
  transform: translateY(0);
}

.container-benefits .card .face.face1 .content{
  opacity: 0.2;
  transition: 0.5s;
}

.container-benefits .card:hover .face.face1 .content{
  opacity: 1;
}

.container-benefits .card .face.face1 .content img{
  max-width: 100px;
}

.container-benefits .card .face.face1 .content h3{
  margin: 10px 0 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
}

.container-benefits .card .face.face2{
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
}

.container-benefits .card:hover .face.face2{
  transform: translateY(0);
}

.container-benefits .card .face.face2 .content p{
  margin: 0;
  padding: 0;
}

.container-benefits .card .face.face2 .content a{
  margin: 15px 0 0;
  display:  inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: 1px solid #333;
}

.container-benefits .card .face.face2 .content a:hover{
  background: #333;
  color: #fff;
}

// Container-testimoniais
.container-testimonials {
  background-color:#B773C5;
}

.testimonial-card {
  height: 100%;
}

.testimonial-card .card-up {
  height: 40px;
  overflow: hidden;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.testimonial-card .avatar {
  width: 110px;
  margin-top: -60px;
  overflow: hidden;
  border: 3px solid #fff;
  border-radius: 50%;
}

.dark-grey-text {
  color: rgb(131, 131, 131);
}
