.roda-da-vida {
  background: rgb(109,91,152);
  background: radial-gradient(circle, rgba(109,91,152,1) 0%, rgba(121,129,168,1) 51%, rgba(157,119,155,1) 100%);
  border-radius: 0 10px 10px 0;
}

.fw-bold, .col-form-label {
  color: $light-purple;
}

.profile-form {
  text-align: center;
  border-radius: 10px 0 0 10px;
}

.category-selector {
  position: absolute;
  transform: scale(0);
}

.category-selector + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 12px;
  text-align: center;
  padding: 10px 15px;
  border: 1px solid #EAEAEA;
  border-radius: 4px;
  background-color: rgba($color: $purple, $alpha: 0.5);
  color: white !important;
}

.category-selector:checked + label {
  color: white !important;
  background-color: rgba($color: $purple, $alpha: 0.8);
}
