.text_title_schedules {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.calendar-title {
  color: $light-purple;
  margin: 0 10px;
}

.calendar-heading {
  text-align: center;
  margin-bottom: 20px;
  a {
    text-decoration: none;
    color: $purple;
  }
}
.simple-calendar th {
  padding: 15px;
  background: $purple;
  border-bottom: 2px solid ;
  border-collapse: collapse;
  border-left: 1px solid $purple;
  border-right: 1px solid $purple;
  border-top: 0px none $purple;
  box-sizing: border-box;
  text-align: center;
  color: white;
}

.simple-calendar td {
  border:1px solid $purple;

  ul {text-align: start;}
  li {
    color: white;
    list-style-type: none;
    background: $light-purple;
    display: ruby-base;
    margin-top: 10px;
    text-decoration: none;
    display: ruby-base;

    a {
      color: black;
      text-decoration: none;
    }
  }
}

.simple-calendar .prev-month {
  background-color: rgb(239, 239, 239);
}

.table-striped > tbody > tr:nth-of-type(odd) {
  --bs-table-accent-bg: white;
  color: $purple;
}
.simple-calendar .day {
  height: 80px;
  background-color: white;
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
    color: $purple;
}

.table-striped > tbody > tr:nth-of-type(even) > * {
  color: $purple;
}

.modal-card {
  height: 400px;
}

.delete {
  text-decoration: none;
  color: $light-purple;
  &:hover {
    color: $purple;
  }
}
