// first change caledar

// .container {
//   display: grid;

// }

.text_title_schedules {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
  color: #9D779B;
}

.btn-purple {
  background-color: #9D779B;
  width: 100px;
  height: 30px;
  padding-bottom: 3px;
  border-radius: 5px;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
    a {
      text-decoration: none;
      color: white;
    }
  }

  // li {
  //   list-style-type: none;
  //   background: green;
  // }

.calendar-heading {
    text-align: center;
    margin-bottom: 7px;
      a{
        text-decoration: none;
        color: #9D779B;;
      }
}




.simple-calendar th  {
  padding: 15px;
  background: #9D779B;;
  border-bottom: 2px solid ;
  border-collapse: collapse;
  border-left: 1px solid #9D779B;
  border-right: 1px solid #9D779B;
  border-top: 0px none #9D779B;
  box-sizing: border-box;
  text-align: center;
}

.simple-calendar td {
  border:1px solid #9D779B;
}
