.sign {
  border-radius: 7px;
}

.social-container {
	margin: 20px 0;
}

.social-container a {
  text-decoration: none;
  color: $light-purple;
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

.links {
  text-decoration: none;
  color: $light-purple;
}

.form-check-label {
  color: $light-purple;
}
