<div class="container col-8 text-center">
  <section>
    <div class="text_title_schedules">
      <h1>SCHEDULE</h1>
    </div>
  </section>

  <%= month_calendar(events: @schedules, attribute: :date) do |date, schedules| %>
    <%= date.strftime('%d') %>
    <ul>
      <% schedules.each do |schedule| %>
        <li>
          <%= schedule.title %>
        </li>
      <% end %>
    </ul>
  <% end %>

   <div>
      <%= link_to "Add an event", new_schedule_path, class: "btn btn-purple rounded-pill mt-3 mb-5" %>
    </div>
</div>
