<%# <div class="modal fade" id="cardModal" tabindex="-1" aria-hidden="true"> %>
  <div class="modal-dialog">
    <div class="modal-content" data-controller="color">
      <%= simple_form_for [container, card],
          method: :patch do |f| %>
        <div class="d-flex flex-column">
          <%= f.input :title, label: "Card Title", required: false %>
          <%= f.input :description,
              as: :text, :input_html => { :cols => 5, :rows => 8 },
              label: "Description", placeholder: "Add description" %>

          <%= f.submit :submit, value: "Update Card" ,class: "btn btn-secondary" %>
        </div>
      <% end %>
    </div>
  </div>
<%# </div> %>

<script src="app/javascript/controllers/color_controller.js"></script>
