<%# HEADER: %>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<header class="masthead" id="dashboard">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-7 py-5">
        <h1 class="mb-4">PLAN-ON</h1>
        <h2 class="m-0">Organize your study in a smart way! </h2>
      </div>
      <div class="col-lg-5">
        <div class="py-5 px-4 masthead-cards">
          <div class="d-flex">
            <a href="#" class="w-50 pr-3 pb-4">
              <div class="card border-0 border-bottom shadow-lg shadow-hover">
                <div class="card-body text-center">
                  <div class="text-center">
                    <i class="fa fa-pencil fa-4x my-2"></i>
                  </div>
                  Determine
                </div>
              </div>
            </a>
            <a href="#" class="w-50 pl-3 pb-4">
            <div class="card border-0 border-bottom shadow-lg shadow-hover">
              <div class="card-body text-center">
                <div class="text-center">
                  <i class="fas fa-sort-amount-up fa-4x my-2"></i>
                </div>
                Prioritize
              </div>
            </div>
            </a>
          </div>
          <div class="d-flex">
            <a href="#" class="w-50 pr-3">
              <div class="card border-0 border-bottom shadow-lg shadow-hover">
                <div class="card-body text-center">
                  <div class="text-center">
                    <i class="fas fa-clipboard-list fa-4x my-2"></i>
                  </div>
                  Develop
                </div>
              </div>
            </a>
            <a href="#" class="w-50 pl-3">
              <div class="card border-0 border-bottom shadow-lg shadow-hover">
                <div class="card-body text-center">
                  <div class="text-center">
                    <i class="fas fa-clipboard-check fa-4x my-2"></i>
                  </div>
                  Execute
                </div>
              </div>
            </a>
          </div>
          <div class="shape"></div>
        </div>
      </div>
    </div>
  </div>
</header>

<%# CARDS: %>

<div class="container mt-5 mb-3">
  <div class="row">
    <div class="col-md-4">
      <div class="card p-5 mb-5">
        <div class="d-flex justify-content-between">
          <div class="d-flex flex-row align-items-center">
            <div class="icon"><i class="fas fa-bullseye"></i>
            </div>
            <div class="ms-2">
              <h6 class="mb-0">Weekly Goals</h6>
            </div>
          </div>
          <div class="badge"><span>Wheel of life</span></div>
        </div>
        <div class="mt-3">
          <h3 class="heading">This week you need to work on:</h3>
          <hr>
          <div class="mt-2">
            <ul>
              <%  @profile_traits.each do |profiles_trait| %>
                <li><%= profiles_trait.trait.name %></li>
                <p><%= profiles_trait.trait.message %></p>
              <% end %>
            </ul>
          </div>
          </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card p-5 mb-4">
        <div class="d-flex justify-content-between">
          <div class="d-flex flex-row align-items-center">
            <div class="icon"><i class="fas fa-calendar-week"></i></div>
            <div class="ms-2">
                <h6 class="mb-0">Weekly Todo List</h6>
            </div>
          </div>
          <div class="badge"><span>Planner</span></div>
        </div>
        <div class="mt-3">
          <h3 class="heading">Tasks you need to do this week:</h3>
          <hr>
          <div class="mt-2">
            <p>Conectar o Planner aqui</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card p-5 mb-4">
        <div class="d-flex justify-content-between">
            <div class="d-flex flex-row align-items-center">
              <div class="icon"><i class="fas fa-clock"></i></div>
              <div class="ms-2">
                  <h6 class="mb-0">Intelligent Timer</h6>
              </div>
            </div>
            <div class="badge"><span>Pomodoro</span></div>
          </div>
          <div class="mt-3">
            <h3 class="heading">Set estimate pomodoros for each tasks:</h3>
            <hr>
            <div class="mt-2">
              <p>The Pomodoro Technique is created by Francesco Cirillo for a more productive way to work and study.
               The technique uses a timer to break down work into intervals.</p>
              <%= link_to "Pomodoro", pomodoros_path, class: "btn btn-purple rounded-pill" %>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
