<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<header class="masthead">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-7 py-5">
        <h1 class="mb-4">PLAN-ON</h1>
        <h2 class="m-0">Organize your study in a smart way! </h2>
      </div>
      <div class="col-lg-5">
        <div class="py-5 px-4 masthead-cards">
          <div class="d-flex">
            <a href="#" class="w-50 pr-3 pb-4">
              <div class="card border-0 border-bottom shadow-lg shadow-hover">
                <div class="card-body text-center">
                  <div class="text-center">
                    <i class="fa fa-pencil fa-4x my-2"></i>
                  </div>
                  Determine
                </div>
              </div>
            </a>
            <a href="#" class="w-50 pl-3 pb-4">
            <div class="card border-0 border-bottom shadow-lg shadow-hover">
              <div class="card-body text-center">
                <div class="text-center">
                  <i class="fas fa-sort-amount-up fa-4x my-2"></i>
                </div>
                Prioritize
              </div>
            </div>
            </a>
          </div>
          <div class="d-flex">
            <a href="#" class="w-50 pr-3">
              <div class="card border-0 border-bottom shadow-lg shadow-hover">
                <div class="card-body text-center">
                  <div class="text-center">
                    <i class="fas fa-clipboard-list fa-4x my-2"></i>
                  </div>
                  Develop
                </div>
              </div>
            </a>
            <a href="#" class="w-50 pl-3">
              <div class="card border-0 border-bottom shadow-lg shadow-hover">
                <div class="card-body text-center">
                  <div class="text-center">
                    <i class="fas fa-clipboard-check fa-4x my-2"></i>
                  </div>
                  Execute
                </div>
              </div>
            </a>
          </div>
          <div class="shape"></div>
        </div>
      </div>
    </div>
  </div>
  <svg style="pointer-events: none" class="wave" width="100%" height="50px" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 75">
    <defs>
      <style>
        .a {
          fill: none;
        }

        .b {
          clip-path: url(#a);
        }

        .c,
        .d {
          fill: #f9f9fc;
        }

        .d {
          opacity: 0.5;
          isolation: isolate;
        }
      </style>
      <clipPath id="a">
        <rect class="a" width="1920" height="75"></rect>
      </clipPath>
    </defs>
    <title>wave</title>
    <g class="b">
      <path class="c" d="M1963,327H-105V65A2647.49,2647.49,0,0,1,431,19c217.7,3.5,239.6,30.8,470,36,297.3,6.7,367.5-36.2,642-28a2511.41,2511.41,0,0,1,420,48"></path>
    </g>
    <g class="b">
      <path class="d" d="M-127,404H1963V44c-140.1-28-343.3-46.7-566,22-75.5,23.3-118.5,45.9-162,64-48.6,20.2-404.7,128-784,0C355.2,97.7,341.6,78.3,235,50,86.6,10.6-41.8,6.9-127,10"></path>
    </g>
    <g class="b">
      <path class="d" d="M1979,462-155,446V106C251.8,20.2,576.6,15.9,805,30c167.4,10.3,322.3,32.9,680,56,207,13.4,378,20.3,494,24"></path>
    </g>
    <g class="b">
      <path class="d" d="M1998,484H-243V100c445.8,26.8,794.2-4.1,1035-39,141-20.4,231.1-40.1,378-45,349.6-11.6,636.7,73.8,828,150"></path>
    </g>
  </svg>
</header>

<div class="container container-benefits py-5">
  <div class= "bloc-plan-on">
    <h3 class="title-planon">Plan On</h3>
    <div class="text-planon mt-5">
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum ad nobis reprehenderit nostrum distinctio, ducimus autem nisi. Natus est blanditiis explicabo. Voluptatum quas perspiciatis alias reiciendis voluptatem, cupiditate debitis nesciunt.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit repudiandae ducimus ipsam, nam sunt aut? Aspernatur odit sapiente iure debitis non, maiores possimus fugiat facilis recusandae eius expedita corporis? Fuga.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus consequatur, nemo, similique deserunt odit nihil dicta dolore asperiores tempora assumenda officia quam aliquid quibusdam consequuntur cumque culpa earum aspernatur quas.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi dolore vel ullam eum facilis repudiandae incidunt ad! Nemo nisi, voluptatem magnam sequi doloribus animi quasi sapiente repudiandae porro. Fugit, ut!
      </p>
    </div>
  </div>
</div>

<div class="container container-benefits">
  <div class="card">
    <div class="face face1">
      <div class="content">
        <img src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/design_128.png?raw=true">
        <h3>Wheel of life</h3>
      </div>
    </div>
    <div class="face face2">
      <div class="content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
        <a href="#">Read More</a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="face face1">
      <div class="content">
        <img src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/code_128.png?raw=true">
        <h3>Planner</h3>
      </div>
    </div>
    <div class="face face2">
      <div class="content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
        <a href="#">Read More</a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="face face1">
      <div class="content">
        <img src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/launch_128.png?raw=true">
        <h3>Schedule</h3>
      </div>
    </div>
    <div class="face face2">
      <div class="content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
        <a href="#">Read More</a>
      </div>
    </div>
  </div>
</div>

<div class="container container-benefits py-5">
  <section>
  <div class="row d-flex justify-content-center">
    <div class="col-md-10 col-xl-8 text-center">
      <h3 class="mb-4">Testimonials</h3>
      <p class="mb-4 pb-2 mb-md-5 pb-md-0">
      Discover the testimonials and stories of those who study with us. Come be part of the Plan On method and obtain your approval.
      </p>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-4 mb-5 mb-md-0">
      <div class="card testimonial-card">
        <div class="card-up" style="background-color: #9d789b;"></div>
        <div class="avatar-card mx-auto bg-white">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp"
            class="rounded-circle img-fluid" />
        </div>
        <div class="card-body">
          <h4 class="mb-4">Maria Smantha</h4>
          <hr/>
          <p class="dark-grey-text mt-4">
            <i class="fas fa-quote-left pe-2"></i>Using Plano On I was approved in 18 public exams.Best application for organizing your studies.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5 mb-md-0">
      <div class="card testimonial-card">
        <div class="card-up" style="background-color: #7a81a8;"></div>
        <div class="avatar-card mx-auto bg-white">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(2).webp"
            class="rounded-circle img-fluid" />
        </div>
        <div class="card-body">
          <h4 class="mb-4">Lisa Cudrow</h4>
          <hr/>
          <p class="dark-grey-text mt-4">
            <i class="fas fa-quote-left pe-2"></i>Passed in the diplomacy exam thanks to Plan On. The way I study has completely changed. Today my work allows me to get to experience many countries and cultures.
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-0">
      <div class="card testimonial-card">
        <div class="card-up" style="background-color: #6d5b98;"></div>
        <div class="avatar-card mx-auto bg-white">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(9).webp"
            class="rounded-circle img-fluid" />
        </div>
        <div class="card-body">
          <h4 class="mb-4">John Smith</h4>
          <hr />
          <p class="dark-grey-text mt-4">
            <i class="fas fa-quote-left pe-2">
            </i>
            Plan On makes it possible to pass medical school and still have a social life. Plan on is undoubtedly the best study application.
          </p>
        </div>
      </div>
    </div>
  </div>
  </section>
</div>
