li {
  list-style-type: none;
}

// kanban

.kanban {
  display: flex;
  margin: 10px 20px;
}

.kanban-col {
  list-style: none;
  width: 100%;
  padding: 0;
}

.kanban-col-name {
  text-align: center;
  margin-bottom: 4px;
  padding: 16px;
  border-radius: 2px;
  // margin-left: 8px;
}

.kanban-col-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-bottom: 4px;
  padding: 16px;
  cursor: grab;
}

.kanban-col-item:active {
  cursor: grabbing;
}

.container-background{
  border-radius: 10px;
  padding: 6px 3px;
  // background-color: #E3E4E6; // gray container for colorful backgrounds
  background-color: rgba(175, 137, 202, 0.732);
}

.planner-background{
  height: 100%;
  background-color: #ebe5df;
  // background-image: linear-gradient(to bottom, #6d5b98, #695798, #645498, #5f5098, #5a4d98, #5a4d98, #5a4d98, #5a4d98, #5f5098, #645498, #695798, #6d5b98);
}

.containerbtn {
  background-color: #6D5B98;
  color: white;
  border-radius: 0 6px 6px 0;
  padding: 3px 0;
  width: 20%;
  height: 100%;
  display: grid;
  place-items: center;
  font-size: larger;
  font-weight: bolder;
  &:hover {
    background-color: #382f4d;
    color: white;
  }
}

#new-container-form{
  margin: 0;
  height: 38px;
}

.width-87{
  width: 87%;
}

.card-button {
  color: #bfbcc4;
  margin: 0 4px;
  &:hover {
    color: rgb(5, 6, 16);
  }
}

.modal-content-kanban{
  height: 500px;
  width: 500px;
  padding: 20px 10px;
  border-radius: 10px;
}
