.kanban {
  display: flex;
  margin: 24px;
}

.kanban-col {
  list-style: none;
  width: 160px;
  padding: 0;
  margin-left: 8px;
}

.kanban-col-name {
  background-color: lightblue;
  text-align: center;
  margin-bottom: 16px;
  padding: 16px;
}

.kanban-col-item {
  background-color: white;
  margin-bottom: 4px;
  padding: 16px;
  cursor: grab;
}

.kanban-col-item:active {
  cursor: grabbing;
}
