.card{
  margin-left: 5px;
  padding: 5px;
}

li{
  list-style-type: none;
}

.btn{
  width: 100%;
}

// kanban

.kanban {
  display: flex;
  margin: 24px;
}

.kanban-col {
  list-style: none;
  width: 160px;
  padding: 0;
}

.kanban-col-name {
  background-color: lightblue;
  text-align: center;
  margin-bottom: 16px;
  padding: 16px;
  // margin-left: 8px;
}

.kanban-col-item {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-bottom: 4px;
  padding: 16px;
  cursor: grab;
}

.kanban-col-item:active {
  cursor: grabbing;
}
