.navbar-planon {
  justify-content: space-between;
  background: $lavender;
  .navbar-nav .nav-link {
    color: white;
  }
}

.navbar-planon .navbar-collapse {
  flex-grow: 0;
}

.navbar-planon .navbar-brand img {
  width: 50px;
  margin-left: 10px;
}

.dropdown-menu {
  border-radius: 6px;
  background-color: $lavender;
  opacity: 0.7;
}

.dropdown-item {
  color: white;
  &:hover {
    background-color: $violet;
    color: white;
  }
}
